aiofiles==23.2.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
aiohttp==3.9.5 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
alembic==1.13.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
altair==5.3.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
aniso8601==9.0.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
annotated-types==0.6.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
antlr4-python3-runtime==4.9.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
anyio==4.3.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
appdirs==1.4.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
astroid==2.15.8 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
bandit==1.7.8 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
black==23.12.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
blinker==1.8.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
cachetools==5.3.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
certifi==2024.2.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
cfgv==3.4.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
cloudpickle==3.0.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
colorlog==6.8.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
contourpy==1.2.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
dill==0.3.8 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
distlib==0.3.8 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
dnspython==2.6.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
docker-pycreds==0.4.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
docker==7.0.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
email-validator==2.1.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
entrypoints==0.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
exceptiongroup==1.2.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.11"
fastapi-cli==0.0.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
fastapi==0.111.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
ffmpy==0.3.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
filelock==3.14.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
flask==3.0.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
fonttools==4.51.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
frozenlist==1.4.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
fsspec==2024.3.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
fsspec[http]==2024.3.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
gitdb==4.0.11 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
gitpython==3.1.43 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
gradio-client==0.6.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
gradio==3.50.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
graphene==3.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
graphql-core==3.2.3 ; python_version >= "3.9" and python_version < "3.12" and python_full_version != "3.9.7"
graphql-relay==3.2.0 ; python_version >= "3.9" and python_version < "3.12" and python_full_version != "3.9.7"
greenlet==3.0.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
gunicorn==22.0.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12" and platform_system != "Windows"
h11==0.14.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
httpcore==1.0.5 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
httptools==0.6.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
httpx==0.27.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
huggingface-hub==0.23.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
hydra-colorlog==1.2.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
hydra-core==1.3.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
identify==2.5.36 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
idna==3.7 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
importlib-metadata==7.1.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
importlib-resources==6.4.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
isort==5.13.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
itsdangerous==2.2.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
jinja2==3.1.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
joblib==1.4.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
jsonschema-specifications==2023.12.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
jsonschema==4.22.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
lazy-object-proxy==1.10.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
lightning-utilities==0.11.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
lightning==2.2.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
mako==1.3.5 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
markdown==3.6 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
matplotlib==3.8.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
mccabe==0.7.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
mlflow==2.12.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
multidict==6.0.5 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
networkx==3.2.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
nodeenv==1.8.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
omegaconf==2.3.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
orjson==3.10.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
packaging==24.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pandas==2.2.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pathtools==0.1.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pbr==6.0.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pillow==10.3.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
platformdirs==4.2.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pluggy==1.5.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pre-commit==3.7.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pretty-errors==1.2.25 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
protobuf==4.25.3 ; python_version >= "3.9" and python_version < "3.12" and python_full_version != "3.9.7"
psutil==5.9.8 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pyarrow==15.0.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pydantic-core==2.18.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pydantic==2.7.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pydeck==0.9.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pydub==0.25.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pygments==2.18.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pylint==2.17.7 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pyrootutils==1.0.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pytest==7.4.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
python-multipart==0.0.9 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pytorch-lightning==2.2.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
pywin32==306 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12" and sys_platform == "win32"
pyyaml==6.0.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
querystring-parser==1.2.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
referencing==0.35.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
rich==13.7.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
rpds-py==0.18.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
safetensors==0.4.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
scikit-learn==1.4.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
scipy==1.13.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
semantic-version==2.10.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
sentry-sdk==2.1.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
setproctitle==1.3.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
setuptools==69.5.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
sh==2.0.6 ; python_version >= "3.9" and python_version < "3.12" and python_full_version != "3.9.7"
shellingham==1.5.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
smmap==5.0.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
sqlalchemy==2.0.30 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
sqlparse==0.5.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
starlette==0.37.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
stevedore==5.2.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
stqdm==0.0.5 ; python_version >= "3.9" and python_version < "3.12" and python_full_version != "3.9.7"
streamlit==1.34.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
sympy==1.12 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
tenacity==8.3.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
threadpoolctl==3.5.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
timm==0.9.16 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.11"
tomlkit==0.12.5 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
toolz==0.12.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
torch==2.0.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
torchmetrics==1.4.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
torchvision==0.15.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
tornado==6.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
tqdm==4.66.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
typer==0.12.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
typing-extensions==4.11.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
tzdata==2024.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
ujson==5.10.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
urllib3==2.2.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
uvicorn==0.29.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
uvicorn[standard]==0.29.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
virtualenv==20.26.2 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
waitress==3.0.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12" and platform_system == "Windows"
wandb==0.15.12 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
watchdog==4.0.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12" and platform_system != "Darwin"
watchfiles==0.21.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
websockets==11.0.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
werkzeug==3.0.3 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
zipp==3.18.1 ; python_version >= "3.9" and python_full_version != "3.9.7" and python_version < "3.12"
